.navbar{
    display:flex;
    background-color: rgb(206, 151, 15);
}
.site-name{
padding: 10px 30px;
color: #e74c3c;
text-decoration: none;
    }
.site-menu{
    display:flex;   
 padding: 10px 30px;
 margin-left: 500px;
    }
  a{
        text-decoration: none;
        color: #212f3d;
        margin: 0px 10px;

    }